.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background:  #1a202c;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
  }
  
  .nav-logo {
    width: 50px; /* Adjust size of the logo */
    height: auto;
    margin-right: 10px; /* Space between logo and text */
  }
  
  .logo h1 {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .logo p {
    font-size: 1rem;
    margin: 0;
  }
  
  .nav-profile {
    width: 70px; /* Adjust size of profile picture */
    height: auto;
   
  }
 @media(max-width: 800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo {
        width: 40px;
    }
    .logo h1 {
        font-size: 1.2rem;
    }
    .logo p {
        font-size: 0.8rem;
    }
    .nav-profile {
        width: 50px;
    }
 }
 